<div id="exit">
	<div class='container'>
		<div class="col-md-8 col-md-offset-2 jumbotron" style="text-align: center; padding: 0; background-color: transparent">
			<h1 id="header" style="color: white;">SPONTANEOUS FUN.</h1>
		</div>
		<div class="col-md-8 col-md-offset-2" style="text-align: center">
			<h4 style="color: white; margin-bottom: 40px; margin-top: -20px;">Be clueless no more about the adventure that surrounds you</h4>
		</div>
		<div class='col-xs-8 col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2 col-xs-offset-2' style=" height: 100px;">
			<%= link_to "GENERATE FUN", planner_path, class: 'thumbnail well text-center sharp-corners', id: "generate", style: 'color: black; border: 3px solid black; text-decoration: none; background-color: #89CCC9;'%>
		</div>

		<div class='col-xs-8 col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2 col-xs-offset-2' style=" height: 100px;">
			<%= link_to "BUILD FUN", start_path, class: 'thumbnail well text-center sharp-corners', id: "build", style: 'color: black; border: 3px solid black; text-decoration: none; background-color: #CC898C;'%>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#build").hover(function() {
		$("#build").animate({
			"background-color": "#FEBBBE",
			"text-decoration": "none"
		}, 0, function(){});}, function(){
			$("#build").animate({
			"background-color": "#CC898C"
		}, 0, function(){});
		});

	$("#generate").hover(function() {
		$("#generate").animate({
			"background-color": "#BBFEFB",
			"text-decoration": "none"
		}, 0, function(){});}, function(){
			$("#generate").animate({
			"background-color": "#89CCC9"
		}, 0, function(){});
		});
</script>
