<style type="text/css">
	.greened {
		background-color: #89CCC9;
		border: none;
	}

	.greened:hover{
		background-color: #BBFEFB;
	}
</style>

<div id="planner_exit">
	<h4 class="container"> <%= link_to("Go Back to Home", root_path, class: "btn btn-default greened")%> </h4>

	<%= form_for(:trips, url: new_trip_path, method: "get") do |f| %>
		<div class='container' style="position: relative; color: white">
			<div class="row" id="error_message">
				<% if flash[:invalid_place]%>
					<p class="text-center alert alert-danger col-md-4 col-sm-4"> <%= flash[:invalid_place] %> </p>
				<% end %>
				<% if flash[:invalid_range]%>
					<p class="text-center alert alert-danger col-md-4 col-sm-4"> <%= flash[:invalid_range] %> </p>
				<% end %>
			</div>
			<div id="base_question" class="form-group">
				<%= f.label :Are_you_a_tourist_or_just_looking_to_lounge?, class: "control-label h2", style: "margin-bottom: 20px; font-family: 'Lato-Light'"%>
				
				<div id="" class="row">
					<div class="col-md-4 col-sm-4">
						<%= f.radio_button :purpose, "tourist", id: "tourism_button", style: "display: none" %>
						<label for="tourism_button" id="tourism" class="col-md-12 col-xs-12 btn btn-default greened" style="margin-bottom: 20px"> Tourist/Trying Something New! </label>
					</div>
				</div>

				<div id="" class="row">
					<div class="col-md-4 col-sm-4">
						<%= f.radio_button :purpose, "hangout", id: "hangout_button", style: "display: none" %>
						<label for="hangout_button" id="hangout" class="col-md-12 col-xs-12 btn btn-default greened"> Just Hangin' Out </label>
					</div>
				</div>
			</div>

			<div id="tourism_2" class="row form-group" style="position: absolute; top: 0; display: none">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<%= f.label :Where_are_you?, class: "control-label h2", style: "margin-bottom: 20px; font-family: 'Lato-Light'" %>
					<div id="location_replace"> 
						<%= f.text_field :location, class: "form-control", id: "select_origin_1",  placeholder: "Location", style: "margin-bottom: 20px"%>
					</div>

					<!-- When the "Use Current Location" box is checked -->
						<% region = request.location.state_code %>
						<% if region.nil? or region.empty? %>
							<% region = request.location.country %>
						<% end %>
						<input class="form-control" style="display: none;margin-bottom: 20px" id="disabledInput" type="text" placeholder="<%=request.location.city%>, <%=region%>" disabled>

						<div id="location" style="font-size: 1.2em"> 
							Use Current Location <%= f.check_box :auto_location %> 
						</div>
					<div id="to_tourism_4" style="margin-top: 20px">
						<%= f.button "Next", type: 'button', class: "form-control btn btn-default greened"%>
					</div>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-2">
					<div id="prev1" class="glyphicon glyphicon-chevron-up btn" style="font-size: 2em">	
					</div>
				</div>
			</div>

			<div id="tourism_4" class="row form-group" style="position: absolute; top: 0; display: none">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<%= f.label :How_far_can_you_afford_to_go?, class: "control-label h2", style: "margin-bottom: 20px;font-family: 'Lato-Light'"%>
					<%= f.text_field :distance, class: "form-control", placeholder: "Miles", style: "margin-bottom: 20px"%> 
					<div id="to_tourism_5">
						<%= f.button "Next", type: 'button', class: "form-control btn btn-default greened"%>
					</div>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-2">
					<div id="prev2" class="glyphicon glyphicon-chevron-up btn" style="font-size: 2em">	
					</div>
				</div>

			</div>

			

			<div id="tourism_5" class="row form_group" style="position: absolute; top: 0; display: none">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<%= f.label "And lastly, how can you get around?", class: "control-label h2", style: "margin-bottom: 20px;font-family: 'Lato-Light'"%> 
					<div style="font-size: 1.2em"> 
						 <%= f.check_box :public_transportation %> Public Transportation
					</div>
					<div style="font-size: 1.2em"> 
						<%= f.check_box :car %> Car/Taxi
					</div>
					<div style="font-size: 1.2em"> 
						 <%= f.check_box :walk %> Pedestrian
					</div>
					<div id="to_tourism_5" style="margin-top: 20px">
						 <%= f.button "Plan it for me!", type: 'submit', class: "form-control btn btn-default greened"%>
					</div>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-2">
					<div id="prev3" class="glyphicon glyphicon-chevron-up btn" style="font-size: 2em">	
					</div>
				</div>

			</div>

		</div>
	<% end %>
</div>

<script type="text/javascript">

	$("#location").click(function(){
		$("#location_replace").toggle();
		$('#disabledInput').toggle();
		// alert("<%= request.location.city %>" + "<%= request.location.state_code %>")
		// $("<p> LOCATION </p>").insertAfter($("#location"));
	});

	$("#tourism").click(function() {
		$("#base_question").hide('slide', { direction: "up", duration: 300});
		$("#error_message").hide('slide', { direction: "up", duration: 300});
		$("#tourism_2").show('slide', {direction: 'down', duration: 300});
	});

	$("#hangout").click(function() {
		$("#base_question").hide('slide', { direction: "up", duration: 300 });
		$("#error_message").hide('slide', { direction: "up", duration: 300});
		$("#tourism_2").show('slide', {direction: 'down', duration: 300});
	});

	$("#to_tourism_4").click(function() {
		$("#tourism_2").hide('slide', { direction: "up", duration: 300 });
		$("#tourism_4").show('slide', {direction: 'down', duration: 300});
	});

	$("#to_tourism_5").click(function() {
		$("#tourism_4").hide('slide', { direction: "up", duration: 300 });
		$("#tourism_5").show('slide', {direction: 'down', duration: 300});
	});

	$("#to_hangout_3").click(function() {
		$("#hangout_2").hide('slide', { direction: "up" , duration: 300});
		$("#hangout_3").show('slide', {direction: 'down', duration: 300});
	});

	$("#to_hangout_4").click(function() {
		$("#hangout_3").hide('slide', { direction: "up" , duration: 300});
		$("#tourism_4").show('slide', {direction: 'down', duration: 300});
	});

	$("#prev1").click(function() {
		$("#tourism_2").hide('slide', { direction: "down", duration: 300});
		$("#base_question").show('slide', { direction: "up", duration: 300});
	});

	$("#prev2").click(function() {
		$("#tourism_4").hide('slide', { direction: "down", duration: 300});
		$("#tourism_2").show('slide', { direction: "up", duration: 300});
	});

	$("#prev3").click(function() {
		$("#tourism_5").hide('slide', { direction: "down", duration: 300});
		$("#tourism_4").show('slide', { direction: "up", duration: 300});
	});

	$("#prev4").click(function() {
		$("#tourism_2").hide('slide', { direction: "down", duration: 300});
		$("#base_question").show('slide', { direction: "up", duration: 300});
	});

	$("#prev5").click(function() {
		$("#hangout_3").hide('slide', { direction: "down", duration: 300});
		$("#hangout_2").show('slide', { direction: "up", duration: 300});
	});

	String.prototype.titleize = function() {
		var words = this.split(' ')
		var array = []
		for (var i=0; i<words.length; ++i) {
			array.push(words[i].charAt(0).toUpperCase() + words[i].toLowerCase().slice(1))
		}
		return array.join(' ')
	}

	$(function() {
		$('#select_origin_1').autocomplete({
			minLength: 2,
			source: '<%= place_index_path(:json) %>',
			focus: function(event, ui) {
				$('#select_origin_1').val(ui.item.name);
				return false;
			},
			select: function(event, ui){
				$('#select_origin_1').val(ui.item.name);
				return false;
			}
		})

		.data( "uiAutocomplete" )._renderItem = function( ul, item ) {
	        return $( "<li></li>" )
	            .data( "item.uiAutocomplete", item )
					// For now which just want to show the person.given_name in the list.
	            .append( "<a>" + item.name.titleize() + "</a>" )
	            .appendTo( ul );
	    };
	});

</script>