<style type="text/css">
	.pinked {
		background-color: #CC898C;
		border: none;
	}

	.pinked:hover{
		background-color: #FEBBBE;
	}
</style>

<div id="start_exit">
	<div class="col-md-4 col-md-offset-4" style="color: white; margin-top: 50px">
		
			<%= form_for(:f, url: place_index_path, method: 'get') do |f| %>
				<div class="form-group">


					<%= f.label :search, class: "control-label"%>
					<%= f.text_field :query, class: "form-control", placeholder: "i.e New York, CN Tower, Silicon Valley"%>
				</div>
				<%= f.button "Search", type: "submit", class: "btn btn-default pinked",style: "width: 75px; float: left; margin-right: 20px"%>
				<h4 class="form-group col-md-offset-"> <%= link_to("Go Back", root_path, class: "btn btn-default pinked",style: "width: 75px")%> </h4>

			<% end %>

	</div>
</div>




