<div id="about">
<div class="jumbotron full-width" style="height: 300px; margin-bottom: 0;margin-top: 15px; color: white; background: url('https://forums.oneplus.net/attachments/hongkong-skyline-hd-wallpaper-jpg.546/') no-repeat 40% 45% ; background-size: cover;">
	<h1> Get ready... </h1>
	<h2> To change the way you go places </h2>
	<%= link_to "Click here to get started", root_path, class: "btn btn-primary" %>
</div>

<div class="jumbotron" style="margin-bottom: 0; min-height: 400px; background: url('http://classconnection.s3.amazonaws.com/245/flashcards/1845245/png/great_pyramids1347145134254.png') no-repeat 40% 17% fixed; background-size: cover; clear: both;">
	<div class="col-sm-6 col-md-6 col-md-offset- ">
	    <div class="thumbnail half-opacity text-center">
	    	<h2>Problem with modern day travel:</h2>
	    	<div class="glyphicon glyphicon-plane" style="font-size: 5em"></div>
	    	<h2> People know where to go, don't know what to do once there. People are bored. </h2>
	    </div>
  	</div>
</div>

<div class="jumbotron" style="min-height: 400px; margin-bottom:0 ; background: url('http://www.topvisitplaces.com/wp-content/uploads/2013/12/eiffel-tower-paris-2.jpg') no-repeat 40% 17% fixed; background-size: cover; clear: both;">
	<div class="col-sm-6 col-md-6 col-md-offset-6 ">
	    <div class="thumbnail half-opacity text-center well">
	    	<div class="glyphicon glyphicon-user" style="font-size: 5em"></div>
	    	<h2> There are too many things to do, yet not enough time to do everything </h2>
	    </div>
  	</div>
</div>

<div class="jumbotron" style="height: 600px; margin-bottom: 0; background-color: #fea;">
	<div class="row">
		<div class="col-md-6"> 
			<div class="thumbnail">
				<h2 style="text-align: center"> Our Mission Statement: </h2>
				<p>
					As a company, we seek to build a product that aims to bridge cultural differences in the world by educating and instilling an appreciation for world cultures. We strive to accomplish this by promotion of local culture such as cuisine, art, and custom through a well-designed and beautiful web interface. 
				</p>
				<p>
					An equally important goal we envision is the minimalization of idleness. Whether it is someplace new or in your area of residence, we never want you to be bored or spend too much time thinking of how to not be bored. We want to offer a convenient and quick way to plan things to do, wherever you are. 
				</p>
			</div>
		</div>
		<div class="col-md-6"> 
			<div class="thumbnail">
				<h2 style="text-align: center"> The plan: </h2>
				<p>
					Simply input the kinds of things you want to do, and we'll figure out the rest!
				</p>
			</div>
		</div>
	</div>
</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("nav").addClass("navbar-fixed-top");
		$("#main-body").replaceWith($("#about"));
		$("#about").css("margin-top", "50px")
	});
</script>