$('#start_exit').hide("drop", {direction: "right"}, function(){$("#start_exit").html("<%= escape_javascript(render('static_pages/home')) %>");});
// $('#start').css('display', 'none');
$('#start_exit').show("drop", {direction: "left"});
// $("#start").html("<%= escape_javascript(render('static_pages/start')) %>");
$('#planner_exit').hide("drop", {direction: "left"}, function(){$("#planner_exit").html("<%= escape_javascript(render('static_pages/home')) %>");});
// $('#start').css('display', 'none');
$('#planner_exit').show("drop", {direction: "right"});
