$('#exit').hide("drop", {direction: "right"}, function(){$("#exit").html("<%= escape_javascript(render('static_pages/planner')) %>");});
// $('#start').css('display', 'none');
$('#exit').show("drop", {direction: "left"});
// $("#start").html("<%= escape_javascript(render('static_pages/start')) %>");
