$('#exit').hide("drop", {direction: "left"}, function(){$("#exit").html("<%= escape_javascript(render('static_pages/start')) %>");});
// $('#start').css('display', 'none');
$('#exit').show("drop", {direction: "right"});
// $("#start").html("<%= escape_javascript(render('static_pages/start')) %>");
