<style type="text/css">
	body, html {
		background: none;
	}

	.wishlist-container {
		height: 50px;
		line-height: 50px;
		width: 100%;
		background-color: white;
	}

	.wishlist-container a {
		font-family: "Lato-Light";
		font-size: 1.7em;
		margin-left: 10px;
		text-decoration: none;
		color: black;
	}

	.wishlist-container a:hover {
		color: white;
	}

</style>

<div id="user-main-body">
	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>

	<h2 style="font-family: Lato-Regular; text-align: center">Saved wishlists</h2>
	<% if @wishlists.empty? %>
		<h3>Hm, it looks like you haven't created a wishlist yet!</br>
		Let's fix that by <%= link_to "generating", planner_path %> one, or you can <%= link_to "build", start_path, class: "red-link" %> your own!</h3>
	<% else %>
		<div style="text-align: center; font-size: 1.3em">
			<%= link_to "generate", planner_path %>
			&nbsp&nbsp&nbsp
			<%= link_to "build", start_path, class: "red-link" %>
		</div>
		<div id="wishlist-list">
			<% @wishlists.each do |wishlist| %>
				<% bgimage = Place.find(wishlist.relationships.first.place_id).image_url %>
				<div class="wishlist-contain">
					<div class="wishlist-div" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover">
					</div>
					<%= link_to trip_path(:id => wishlist.id, :user => @user.id), class: "wishlist-link" do %>
						<h2> <%= wishlist.name %> </h2>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

<script type="text/javascript">

	$(function() {
		$('nav').css("background-color", "#D3EDEB");
		$('nav a').css("color", "#313838")
	})

	$(function() {
		$(".wishlist-link").hover(function() {
			$(this).animate({"background-color": "rgba(0,0,0,.3)", "color": "white"}, 90);
		}, function(){
			$(this).animate({"background-color": "rgba(255,255,255,.6)", "color": "black"}, 90)
		})
	})

	$(".wishlist-container").mouseenter(function() {
		$(this).animate({"background-color": "#EBD3ED"}, 0, function() {});
	});
	$(".wishlist-container").mouseleave(function() {
		$(this).animate({"background-color": "#FFF"}, 0);
	});

</script>