
<div class="container well" style="margin: 0 auto; width: 50%; margin-top: 30px">
	<h3 class="text-center" style="margin-bottom: 20px"> <%= @message %> </h3>
	<% @temptrip.each do |p| %>
		<h4 style="text-align: center"> <%= link_to p.name.titleize, p %> </h4>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		;
	});
</script>