<style type="text/css">
	h1 {
		margin-top: 10px;
	}
</style>
<div id="user-main-body">

	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>
	<h1 style="display: inline-block"> <%= @trip.name %> </h1>

	<% pass = [] %>
	<% @trip.relationships.each do |r|%>
		<% pass.append(Place.find(r.place_id)) %>
	<% end %>

	<% if @user == current_user %>
		<%= link_to "", style: "float: right; display: inline" do %>
			<h1 class="red-link" data-toggle="modal" data-target="#delete-wishlist-modal"> Delete </h1>
		<% end %>

		<!-- Delete modal -->
		<div id="delete-wishlist-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 40%">
			    <div class="modal-content">
			        <div class="modal-body">
			            <h2> Are you sure you want to delete this wishlist? </h2>
			            <%= link_to trip_path(:id => @trip.id, :user => @user.id), method: "delete", style: "display: inline-block" do %>
			            	<h2> I'm sure </h2>
			            <% end %> </br>
			            <%= link_to "", style: "display: inline-block" do %>
			            	<h2 class="red-link" data-dismiss="modal"> Maybe not </h2>
			            <% end %>
			        </div>
			    </div>
			</div>
		</div>

		<%= link_to place_index_path(:tripid => @trip.id, :request => "display", :store => pass), style: "float: right; display: inline" do %>
			<h1> Edit &nbsp&nbsp&nbsp</h1>
		<% end %>
	<% end %>

	<%= link_to trips_path(:user => @user.id), style: "float: right" do %>
		<h1> Back &nbsp&nbsp&nbsp</h1>
	<% end %>

	<div id="list-places"> 
		<% @trip.relationships.each do |relationship| %>
			<% place = Place.find(relationship.place_id) %>
			<% bgimage = place.image_url %>
			<div class="">
				<div class="place-div" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover">
				</div>
				<%= link_to place, class: "place-link" do %>
					<h2> <%= place.name.titleize %> </h2>
					<p> <%= place.city.first.name.titleize %> - <%= place.area.titleize %> </p>
					<p> <%= place.description %> </p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$('nav').css("background-color", "#D3EDEB");
		$('nav a').css("color", "#313838")
	})

	$(function() {
		$(".place-link").hover(function() {
			$(this).animate({"background-color": "rgba(0,0,0,.3)", "color": "white"}, 90);
		}, function(){
			$(this).animate({"background-color": "rgba(255,255,255,.6)", "color": "black"}, 90)
		})
	})
</script>

