<style type="text/css">
	#submit-button {
		background-color: #89CCC9;
		border: none;
	}

	#submit-button:hover{
		background-color: #BBFEFB;
	}
</style>

<div style="margin-top: -30px; width: 30%;" class="container">
	<%= form_for(:session, url: sessions_path, method: "post") do |f|%>
		<div class="form-group">
			<h2 style="color: white"> <%= f.label :email, class: "control-label" %> </h2>
			<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
		</div>

		<div class="form-group">
			<h2 style="color: white"> <%= f.label :password, class: "control-label" %> </h2>
			<%= f.password_field :password, class: "form-control", placeholder: "Enter a password" %>
		</div>

		<div class="form-group">
			<%= f.submit "Sign in", id: "submit-button", class: "btn btn-default sharp-corners"%>
			</br></br>
		</div>

		<div class="form-group">
			<h2 style="color: white"> Don't have an account?</h2>
			<h3> <%= link_to "Click here to create one!", new_user_path, class: "control-label", style: "color: white" %> </h3>
		</div>
	<% end %>

</div>

<script type="text/javascript">

</script>
