<%= link_to edit_likes_path(id: @idea.id, user: current_user.id, type: @type), id: "like-button", method: "post", action: "edit_likes", remote: :true do %>
    <span class="btn btn-primary" style="float: right; margin-right: 50px; color: black;font-size: .7em;">
        <%=@type%>: <%=@idea.likes%>
    </span>
<% end %>
