<div class="modal-dialog" style="">
    <div class="modal-content">
        
        <div class="modal-body" style="text-align: center">
    		<h2>New things!</h2>
            <%= form_for(:idea, url: ideas_path, method: "post", :html => {:multipart => true}) do |f| %>
                <% if !@place %>
                    <div class="form-group">
                    	<%= f.text_field :place, value: "", class: "form-control", placeholder: "Where is this idea for?", style: "width: 40%; margin-left: 30%" %>
                    </div>
                <% else %>
                    <%= f.hidden_field :place, value: @place.name %>
                    <%= f.hidden_field :redirect_to_place, value: :true %>
                <% end %>

                <%= f.hidden_field :user_id, value: @user.id %>

                <div class="form-group">
                	<%= f.text_area :idea, value: "", class: "form-control", placeholder: "What's wonderful?", style: "width: 40%; height: 100px; margin-left: 30%" %>
                </div>
                <%= f.file_field :image, id: "file-button", style: "display: none" %>
                <label id="file-button-label" for="file-button" style="display: block; width: 40%; margin-left: 30%; margin-bottom: 20px; background-color: #ABEDEA" class="btn btn-default"> Add a picture </label>

                <button id="close-button" type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #EDABAE">Close</button>
                <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "text-align: center; background-color: #ABEDEA" %>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });

    $("#file-button-label").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });

    $("#close-button").hover(function(){
        $(this).css("background-color", "#FACDCF");
    }, function(){
        $(this).css("background-color", "#EDABAE");
    });
</script>