<style type="text/css">
    <% if !@idea_image %>
        #idea-photo {
            background: url("<%= asset_path(@place.image_url) %>") no-repeat center center;
            background-size: cover;
        }
    <% else %>
        #idea-photo {
            background: url("<%= @idea_image.image_url %>") no-repeat center center;
            background-size: cover;
        }
    <% end %>

    h1 {
        margin-top: 20px;
    }

    /*h2, h3, h4 {
        margin-top: 0px;
    }*/
</style>

<div class="modal-dialog" style="width: 65%; min-width: 700px">
    <div class="modal-content">
        
        <div class="modal-body" style="min-height: 450px; width: 100%; position: relative;">
            <div id="main-show" style="position: absolute; width: 100%; top: 25px;">
                <!-- <% if @idea.idea_to_photo_relationships.first %>
                    <% img = Photos.find(@idea.idea_to_photo_relationships.first.photo_id) %>
                <% end %> -->
                <div id="idea-photo" style="width: 45%; min-height: 350px; background-color: black; display: inline-block; float: left;">
                </div>

                <div style="background-color: clear; margin-top: 0px; width: 55%; min-height: 350px; margin-left: 45%; padding-left: 20px; padding-right: 20px; overflow-y: auto">
                    <span style="font-size: 1.5em">Submitted by: <%= link_to @user.first + " " + @user.last, @user %> 

                        <% if current_user %>
                            <%= link_to edit_likes_path(id: @idea.id, user: current_user.id, type: @type), id: "like-button", method: "post",  action: "edit_likes", remote: :true do %>
                            <span class="btn btn-primary" style="float: right; margin-right: 50px; color: black;font-size: .7em;">
                                <%=@type%>: <%=@idea.likes%>
                            </span>
                        <% end %>

                        <% end %>

                    </span> 
                    <%= link_to @place do %>
                        </br><span style="font-size: 2em; margin-top: 10px; display: inline"><%= @place.name.titleize %></span>
                    <% end %>
                    <span style="font-size: 1.4em">- <%= link_to @place.city.first.name.titleize[0..-5], @place.city.first %></span>
                    <p style="font-size: 1.2em"><%= @idea.idea %></p>
                </div>

                <% if @user == current_user %>
                    <div style="text-align: center">
                        <span style="display: inline-block;", id="edit-link"> <h2>Edit</h2> </span>

                        <%= link_to idea_path(:id => @idea.id, :user => current_user.id), style: "display: inline-block;",method: "delete" do %>
                            <h2 class="red-link" style="margin-top: 0px" >Delete <span style="font-size: .5em; display: inline;"><p> (This action cannot be undone!) </p></span></h2>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

        <% if @user == current_user %>
            <div id="edit-form" style="width: 100%; display: none; text-align: center; position: absolute; top: 75px;">
                <%= form_for(:idea, url: idea_path(:id => @idea.id), method: "patch", :html => {:multipart => true}) do |f| %>

                    <h2> <%= @place.name.titleize %> </h2>
                    <%= f.hidden_field :place, value: @place.id %>

                    <%= f.hidden_field :user_id, value: @user.id %>

                    <div class="form-group">
                        <%= f.text_area :idea, value: @idea.idea, class: "form-control", placeholder: "What's wonderful?", style: "width: 40%; height: 100px; margin-left: 30%" %>
                    </div>
                    <%= f.file_field :image, id: "file-button", style: "display: none" %>
                    <label id="file-button-label" for="file-button" style="display: block; width: 40%; margin-left: 30%; margin-bottom: 20px; background-color: #ABEDEA" class="btn btn-default"> Change picture </label>

                    <button id="close-button" type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #EDABAE">Close</button>
                    <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "text-align: center; background-color: #ABEDEA" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    $("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });

    $("#file-button-label").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });

    $("#close-button").hover(function(){
        $(this).css("background-color", "#FACDCF");
    }, function(){
        $(this).css("background-color", "#EDABAE");
    });
//$('body').on('click', '.nom_epi', function() { alert("hello"); })
    $("body").on('click', "#edit-link", function() {
        $("#main-show").hide('slide', { direction: "up", duration: 300});
        // $("#error_message").hide('slide', { direction: "up", duration: 300});
        $("#edit-form").show('slide', {direction: 'down', duration: 300});
    });
</script>