<style type="text/css">
	h1 {
		margin-top: 10px;
	}
</style>

<div id="user-main-body">
	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>
	<h1 style="display: inline-block"> <%= @user.first %>'s creativity:</h1>
	<% if @user == current_user %>			
		<%= link_to new_idea_path(:user => @user.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#new-idea-modal', style: "float: right; display: inline;"} do %>
			<h1> New Idea &nbsp&nbsp&nbsp</h1>
		<% end %>
	<% end %>

	<!-- MODALS -->
	<div id="new-idea-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<div id="show-idea-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	<% if @ideas.empty? %>
		<div>
			<h3>No idea contributions yet!</h3>
		</div>

	<% else %>
		<!-- idea[0] is the Place, idea[1] is the Idea -->
		<div id="ideas-index">
				<% if @ideas %>
					<% @ideas.each do |idea| %>
						<% if idea[1].photos.first %>
							<% bgimage = idea[1].photos.first.image_url %>
						<% else %>
							<% bgimage = idea[0].image_url %>
						<% end %>
						<div>
							<div class="idea-div-1" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover">
								<%= idea[0].name.titleize %>
							</div>
							<div class="idea-div-2">
								<%= idea[1].idea %>
							</div>
							<%= link_to "", idea_path(:id=>idea[1].id, :user => @user.id, :place_id => idea[0].id), method: "get", class: "idea-link", remote: :true, 'data-toggle'=>"modal", 'data-target'=>'#show-idea-modal' %>
						</div>	
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>

<script type="text/javascript">

		$(function() {
			if ("<%= flash[:error] %>")
				alert("<%= flash[:error] %>");
		})
		

		$(function() {
			$(".idea-link").hover(function() {
				$(this).parent().find(".idea-div-2").animate({"opacity": "1"}, 90);
			}, function(){
				$(this).parent().find(".idea-div-2").animate({"opacity": ".35"}, 90)
			})
		})

</script>