<div class="modal-dialog" style="">
    <div class="modal-content">
        
        <div class="modal-body" style="text-align: center">
                <% if @album %>
                    <%= form_for(:album, url: photoalbum_path(:id => @album.id), method: "patch", :html => {:multipart => true}) do |f| %>
                        <div class="form-group">
                        <%= f.text_field :name, value: "", class: "form-control", placeholder: "Enter name for new album", style: "width: 40%; margin-left: 30%", value: @album.name %>
                        </div>

                        <p>
                            <%= f.file_field :images, multiple: true, id: "file-button", style: "display: none" %>
                            <%= f.hidden_field :user_id, value: @user.id %>
                            <label for="file-button" class="btn btn-default"> Choose Pictures (album max: 100) </label>
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                        <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "text-align: center; background-color: #ABEDEA" %>
                    <% end %>
                <% else %>
                    <%= form_for(:album, url: photoalbums_path, method: "post", :html => {:multipart => true}) do |f| %>
                        <div class="form-group">
                        <%= f.text_field :name, value: "", class: "form-control", placeholder: "Enter name for new album", style: "width: 40%; margin-left: 30%" %>
                        </div>

                        <p>
                            <%= f.file_field :images, multiple: true, id: "file-button", style: "display: none"%>
                            <%= f.hidden_field :user_id, value: @user.id %>
                            <label for="file-button" class="btn btn-default"> Choose Pictures (album max: 100) </label>
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                        <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "text-align: center; background-color: #ABEDEA" %>
                    <% end %>
            	<% end %>
           
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    })
</script>