<style type="text/css">
	body, html {
		min-width: 1050px;
		background: none;
		color: #313838;
	}

	
</style>

<div id="user-main-body">

	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>

	<h1 style="display: inline-block"> <%= @user.first %>'s albums: </h1>
	<% if @user == current_user %>
		<%= link_to new_photoalbum_path(:id => @user.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#new-album-modal', style: "float: right; display: inline-block;"} do %>
			<h2> Add Album </h2>
		<% end %>
	<% end %>

	<!-- MODALS -->
	<div id="new-album-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	<div id="album-list">
			<% @albums.each do |album| %>
				<!-- First photo of profile pictures album will be default avatar -->
				<% if album.name == "Profile Pictures" %>
					<% bgimage = Photos.find(album.album_to_photo_relationships.last.photo_id).image_url if album.album_to_photo_relationships.last%>
				<% else %>
					<% bgimage = Photos.find(album.album_to_photo_relationships.first.photo_id).image_url if album.album_to_photo_relationships.first%>
				<% end %>
				<div class="album-contain">
					<div class="album-div" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover">
					</div>
					<%= link_to photoalbum_path(:user => @user.id, :id => album.id), class: "album-link" do %>
						<h2> <%= album.name[0..60] %> </h2>
					<% end %>
				</div>
			<% end %>
		</div>
</div>

<script type="text/javascript">
	$(function() {
		// $("nav").addClass("navbar-fixed-top");
		$("nav").css("background-color", "#D3EDEB");
		$("nav a").css("color", "#313838");
		$("nav").css("border-bottom", "1px solid #DCE8E7")
		// $("nav a").css("color", "black");
		// $("a").css("color", "white");
		// $("#main-body").replaceWith($("#about"));
		$("#main-body").css("margin-top", "0px");
	});

	$(function() {
		$('nav').css("background-color", "#D3EDEB");
		$('nav a').css("color", "#313838")
	})

	$(function() {
		$(".album-link").hover(function() {
			$(this).animate({"background-color": "rgba(0,0,0,.3)", "color": "white"}, 90);
		}, function(){
			$(this).animate({"background-color": "rgba(255,255,255,.6)", "color": "black"}, 90)
		})
	});
</script>