<div id="user-main-body">

	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>
	<h1 style="display: inline-block"> 
		<%= @album.name %> 

	</h1>
	
	<% if @user == current_user %>
		<% if @album.name != "Profile Pictures" and @album.name != "Idea Photos" %>
			<%= link_to "", class: "delete-confirm", style: "float: right; display: inline"  do %>
				<h1 class="red-link" data-toggle="modal" data-target="#delete-album-modal"> Delete </h1>
			<% end %>
			<%= link_to new_photoalbum_path(:id => @user.id, :album => @album.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#new-album-modal', style: "float: right; display: inline;"} do %>
				<h1> Add/Edit &nbsp&nbsp&nbsp</h1>
			<% end %>
		<% end %>
	<% end %>

	<%= link_to photoalbums_path(:user => @user.id), style: "float: right" do %>
		<h1> Back &nbsp&nbsp&nbsp</h1>
	<% end %>

	<% if @user == current_user %>
		<!-- Delete Modal -->	
		<div id="delete-album-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 40%">
			    <div class="modal-content">
			        <div class="modal-body">
			            <h2> Are you sure you want to delete this album? </h2>
			            <%= link_to photoalbum_path(:id => @album.id, :user => @user.id), method: "delete", style: "display: inline-block" do %>
			            	<h2 class="red-link"> Delete forever </h2>
			            <% end %> </br>
			            <%= link_to "", style: "display: inline-block" do %>
			            	<h2 class="green-link" data-dismiss="modal"> Maybe not </h2>
			            <% end %>
			        </div>
			    </div>
			</div>
		</div>

		<!-- Add/Edit Modal -->
		<div id="new-album-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<% end %>
	<!-- Show picture modal -->
	<div id="show-image-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	

	<div> 
		<% if @photos.empty? %>
			<h1> This album is empty! </h1>
		<% else %>
			<div id="photo-index">
				<% (0..@photos.length-1).each do |i| %>
					<div>
						<% photo = @photos[i] %>
						<%= link_to photo_path(:id => i, :album=>@album.id, :user => @user.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#show-image-modal', :class=> "image-show"} do %> 
							<div class="image-gradient">
								<p style="position: absolute; bottom: 0px; color: white"> <%= photo.description %> </p>
							</div>
							<%= image_tag photo.image_url() if photo.id? %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$('nav').css("background-color", "#D3EDEB");
		$('nav a').css("color", "#313838")
	})

	$(function() {
		$(".image-show").hover(function() {
			$(this).find(".image-gradient").show('fade', 120);
		}, function(){
			$(this).find(".image-gradient").hide('fade', 120);
		})
	})
	
</script>