<style type="text/css">
	#submit-button {
		background-color: #CC898C;
		border: none;
	}

	#submit-button:hover{
		background-color: #FEBBBE;
	}
</style>

<div class="container" style="width: 30%; margin-top: -30px; margin-bottom: 30px">

	<% if flash[:error] == "Oops, something went wrong. Please try again" %>
		<p class="alert alert-danger text-center">
			<%= flash[:error] %>
		</p>
	<% end %>
	
	<%= form_for(@user, url: users_path, method: "post") do |f|%>
		<div class="form-group">
			<h2 style="color: white"> <%= f.label :email, class: "control-label" %> </h2>
			<%= f.text_field :email, class: "form-control", placeholder: "Enter valid email address" %>
		</div>

		<div class="form-group">
			<h2 style="color: white"> <%= f.label :name, class: "control-label" %> </h2>
			<div style="display: inline-block">
				<%= f.text_field :first, class: "form-control", placeholder: "First", style: "width: 49%; float: left"%>
				<%= f.text_field :last, class: "form-control", placeholder: "Last", style: "width: 50%; margin-left: 50%;" %>
			</div>
		</div>

		<div class="form-group">
			<h2 style="color: white"> <%= f.label :password, class: "control-label" %> </h2>
			<%= f.password_field :password, class: "form-control", placeholder: "Enter a password" %>
		</div>

		<div class="form-group">
			<h2 style="color: white"> <%= f.label :password_confirmation, class: "control-label" %> </h2>
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"%>
		</div>

		<%= f.submit "Create!", id: "submit-button", class: "btn btn-default" %>

	<% end %>
</div>
