<style type="text/css">
	body, html {
		min-width: 1050px;
		background: none;
		color: #313838;
	}

	nav {
	background-color: #D3EDEB;
	border-bottom: 1px solid #DCE8E7;
}

nav a {
	color: #313838;
}

	a{
		color: #399992
	}
	a:hover {
		text-decoration: none;
		color: #1C4A46;
	}
</style>

<% if @user %>
	<% trips = @user.trips %>
<% end %>

<% if flash[:new] == "Thanks for making an account with us!" %>
	</br> <p class="alert alert-success"> <%= flash[:new] %> </p>
<% end %>





<div id="user-main-body">
	<%= render partial: 'shared/profile_cover', locals: {user: @user.id} %>

	<div style="text-align: center">
		<h2> <%= @user.first %>'s: </h2>
	</div>

	<div class="user-row">
		<div>
			<!-- <div style="border: 2px solid white; width: 100%; height: 100%;">
				<% if !trips or trips.empty? %>
					<div class="text-center">
						<h2> You have no wishlists yet :( </h2>
						<h3> <%= link_to "Start adventuring!", root_path%> </h3>
					</div>
				<% else %>
					<%= render partial: 'shared/wishlists', locals: {wishlists: @user.trips} %>
				<% end %> 
			</div> -->
			
			<%= link_to trips_path(:user => @user) do %>
				<h1>Wishlists</h1>
			<% end %>
		</div>

		<div>
			<%= link_to photoalbums_path(:user => @user), method: "get" do %>
				<h1>Photos</h1>
			<% end %>
		</div>

		<div>
			<%= link_to ideas_path(:user => @user) do %>
				<h1>Ideas</h1>
			<% end %>
		</div>
	</div>

	<!-- <div class="user-row-2">
		<div>
			<%= link_to "" do%>
				<h1>Flights</h1>
			<% end %>
		</div>

		<div>
			<%= link_to "" do %>
				<h1>Trails</h1>
			<% end %>
		</div>

		<div>
			<%= link_to "" do %>
				<h1>Roadtrips</h1>
			<% end %>
		</div>
	</div> -->

	<div class="wanderbox" style="display: block; width: 100%; height: 60%; background-color: clear; float: left; margin-bottom: 40px; text-align: center;">
		<h2 style="display: inline; text-align: center; height: 40px;"> <%= @user.first %>'s current wanderlust: 
			<% if @wanderlust %>
				<%= link_to @wanderlust.name.titleize[0..-5], @wanderlust %>
			<%end%>
		</h2>
		<div id="map" style="width: 100%; height: 100%;"></div>
	</div>

	<% if @wanderlust %>
		<div style="text-align: center; clear: both">
			<h2>Get <span style="font-family: 'Lato-Regular'">creative</span> in <%= @wanderlust.name.titleize[0..-5] %></h2>
		</div>
	<% end %>

	<!-- MODALS -->
	<div id="show-idea-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	<div class="feed-row">
		<% if @feed_items %>
			<% @feed_items.each do |idea| %>
				<% place = Place.find(idea.place_to_idea_relationships.first.place_id) %>
				<% if idea.photos.first %>
					<% bgimage = idea.photos.first.image_url %>
				<% else %>
					<% bgimage = place.image_url %>
				<% end %>
				<div>
					<div class="feed-div-1" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover; opacity: .5">
					</div>
					<div class="feed-div-3" style="font-size: 4em; color: white; -webkit-text-stroke: 1px black;">
						"<%= idea.idea %>"
					</div>
					<div class="feed-div-2">
						<span style="position: absolute; bottom: 10px; left: 20px; font-size: 1.3em"> <%= place.name.titleize %> </span>
					</div>
					<%= link_to "", idea_path(:id=>idea.id, :place_id => place.id), method: "get", class: "feed-link", remote: :true, 'data-toggle'=>"modal", 'data-target'=>'#show-idea-modal' %>
				</div>
			<% end %>
		<% end %>
	</div>

</div>

	


<script type="text/javascript">
	$(function() {
		// $("nav").addClass("navbar-fixed-top");
		
		// $("nav a").css("color", "black");
		// $("a").css("color", "white");
		// $("#main-body").replaceWith($("#about"));
		$("#main-body").css("margin-top", "0px");
		$("#options-links").hide();
		$("#options-links-wanderboard").text("wanderboard");
	});

	$(function() {
		$(".feed-row a").hover(function() {
			$(this).parent().find(".feed-div-2").show('fade', 120);
		}, function(){
			$(this).parent().find(".feed-div-2").hide('fade', 120);
		})
	})

	$(function() {
		$(".user-row a").hover(function() {
			$(this).animate({
				"opacity": "0.7"
			}, 150);
		}, function(){
			$(this).animate({
				"opacity": "1.0"
			}, 150);
		});
	});

	$(function() {
		$(".user-row-2 a").hover(function() {
			$(this).animate({
				"opacity": "0.7"
			}, 150);
		}, function(){
			$(this).animate({
				"opacity": "1.0"
			}, 150);
		});
	});

	$(".transport-label").mouseenter(function (){
		$(this).css("background-color", "#B3E7E8");
	});
	$(".transport-label").mouseleave(function (){
		$(this).css("background-color", "rgba(255,255,255,0.6)");
	});

	
	<% if @user.wanderlust %>
		$(function(){
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {zoom: 12}, internal: {id: 'map' }}, function() {
				displayOnMap();
			});
		});

		function displayOnMap() {
			var marker = {
		    	lat: '<%= Place.find(@user.wanderlust).coords["c1"][0] %>',
		    	lng: '<%= Place.find(@user.wanderlust).coords["c1"][1] %>'
		  	};
			var marker_c = handler.addMarker(marker);
			marker_c.getServiceObject().setIcon("http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png");
		  	handler.map.centerOn(marker_c);
		}
	<% end %>
</script>
