<div class="well container col-md-6 float-right">
	<h4 class="text-center">Current Itinerary</h4>
	<% if flash[:error] == "Oops, you forgot to name your trip!"%>
		<p class="text-center alert alert-danger"> <%= flash[:error] %> </p>
	<% end %>
	<% if flash[:error] == "Your trip appears to be empty"%>
		<p class="text-center alert alert-danger"> <%= flash[:error] %> </p>
	<% end %>
	<% if @temptrip != nil %>
		<% @temptrip.each do |place|%>
			<div class="well half-opacity">
			<%= link_to place.titleize, p = Place.find_by_name(place)%>
			<span class="float-right"><%= link_to "Remove", place_index_path(:tripid => @tripid, :id => p.id, :search => @search, :store => @temptrip-[place], :request => "remove"), method: "get" %> </span>
			</div>
		<% end %>
	<% end %>
		<div class="form-horizontal"> 
			<% if @tripid == nil %>
			<!-- Form for a completely new trip -->
				<%= form_for(:trips, url: trips_path, method: "post") do |f| %> 
					<div class="form-group">
							<div class="col-md-8">
							<%= f.text_field :name, class: "form-control", placeholder: "Enter name for trip" %>
							</div>

						<% if @temptrip != nil %>
							<% @temptrip.each do |place| %>
								<%= f.hidden_field :store, :multiple => true, :value => place %>
							<% end %>
						<% end %>
					
						<div class="col-md-4">
							<%= f.submit "Save Trip!", class: "btn btn-primary col-md-12"%>
						</div>
					</div>
				<% end %>

			<% else %>
			<!-- Form for a trip being edited -->
				<%= form_for(Trip.find(@tripid), url: trip_path(@tripid), method: "patch") do |f|%>
					<div class="form-group">
						<div class="col-md-8">
							<%= f.label "Trip name: " + Trip.find(@tripid).name %>
						</div>

						<% if @temptrip != nil %>
							<% @temptrip.each do |place| %>
								<%= f.hidden_field :store, :multiple => true, :value => place %>
							<% end %>
						<% else %>
							<%= f.hidden_field :store, :value => nil %>
						<% end %>
				
						<div class="col-md-4">
							<%= f.submit "Save Trip!", class: "btn btn-primary col-md-12"%>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
</div>