<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
            <p> Edit Your Profile </p>
            
            <%= form_for(:user, url: user_path, method: "patch") do |f| %>

                <div class="form-group">
                    <h3> <%= f.label "Home base: ", class: "control-label", style: "float: left; width: 49%" %> </h3>
                    <%= f.text_field :based_in, value: "", class: "form-control", placeholder: "Currently based out of", style: "width: 50%; margin-left: 50%" %>
                </div>
                <div class="form-group">
                    <h3> <%= f.label "Current Wanderlust: ", class: "control-label", style: "float: left; width: 49%" %> </h3>
                    <%= f.text_field :wanderlust, value: "", placeholder: "Where would you rather be?", class: "form-control", style: "width: 50%; margin-left: 50%" %>
                </div>
                <div class="form-group">
                    <h3> <%= f.label "Blurb: ", class: "control-label", style: "float: left; width: 49%" %> </h3>
                    <%= f.text_field :blurb, value: "", placeholder: "Describe yourself in 140 characters", class: "form-control", style: "width: 50%; margin-left: 50%" %>
                </div>
                <%= f.hidden_field :user_id, value: user.id %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "background-color: #ABEDEA" %>
            <% end %>
           
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });

</script>