<style type="text/css">
	body, html {
		min-width: 1000px;
		background: none;
	}
	#index-options {
		text-align: center;
		font-size: 1.5em;
		font-family: "Lato-Light";
		min-height: 50px;
		background-color: rgba(223,235,234,1);
		width: 100%;
	}
	nav {
		background-color: #D3EDEB;
		border-bottom: 1px solid #DCE8E7;
	}

	nav a {
		color: #313838;
	}

	#index-options a {
		font-family: "Lato-Light";
	}

	.glyphicon-camera {
		font-size: 30pt;
		position: absolute;
		top: 50%;
		color: white;
		left: 50%;
		margin-top: -15pt;
		margin-left: -15pt;
		display: none;
	}

	.glyphicon-camera:hover {
		text-decoration: none;
		color: black;
	}
	<% if @user.based_in %>
		#profile-cover-tag {
			display: block;
			background: url("<%= asset_path(Place.find(@user.based_in).image_url) %>") no-repeat center;
			background-size: 100%;
			width: 100%;
			height: 290px;
			margin-bottom: -290px;
			opacity: .3;
			background-color: white;
		}
	<% end %>
</style>

<div id="profile-cover-tag"></div>
<div class="wanderbox" style="width: 90%; height: 290px; margin: 0 auto; background-color: clear; position: relative; text-align: center">
<div class="profile-image-container">
	<% if @user == current_user %>
<!-- 					<a id="profile-pic-upload" class="glyphicon glyphicon-camera"></a>
-->					<%= link_to "", prof_pic_upload_path(:id => @user.id, :album => "Profile Pictures"), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#profile-picture-modal', class: "glyphicon glyphicon-camera"}  %>
		
	<% end %>
	<!-- This is the profile picture -->
	<% album = @user.albums.first %>
	<% if album.photos.empty? %>
		<%= image_tag asset_path("default.png"), id: "profile-image-tag" %>
	<% else %>
		<%= link_to photo_path(:id => 0, :album => @user.albums.first.id, user: @user.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#show-image-modal', :class=> "image-show"} do %>
			<%= image_tag @user.albums.first.default.image_url(), id: "profile-image-tag" if @user.albums.first.default_id? %>
		<% end %>
	<% end %>
</div>

<!-- MODALS -->
<div id="profile-picture-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="edit-profile-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="show-image-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- <div class="wander-methods">
	<div> <p class="transport-label"> Flights </p> </div>
	<div> <p class="transport-label"> Roads </p> </div>
	<div> <p class="transport-label"> Trails </p> </div>
	<div> <p class="transport-label"> Rails </p> </div>
</div> -->
<div id="profile-info" style="background-color: clear; height: 100%; margin-left: 250px; text-align: right;">
	
	<h2 style="margin-bottom: 0px"> 
		<%= link_to edit_profile_path(:id => @user.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#edit-profile-modal', id: "edit-link", style: "font-size: 15pt; display: none;"} do %>
		Edit Info
	<% end %>&nbsp&nbsp&nbsp
	<%= link_to user_path(@user.id) do %>
		<%= @user.first %> <%= @user.last %>  
	<% end %> </h2>
	<h2>Based in: 
		<% if @user.based_in %>
			<%= link_to Place.find(@user.based_in), style: "display: inline-block, margin-bottom: -10px" do %>
			<%= Place.find(@user.based_in).name[0..-5].titleize %>
		<% end %>
	<% end %> </h2>

	<h2> Current wanderlust: 
		<% if @user.wanderlust %>
			<%= link_to Place.find(@user.wanderlust), style: "display: inline-block" do %>
			<%= Place.find(@user.wanderlust).name[0..-5].titleize %>
		<% end %>
	<% end %> </h2>
	<p> <h2 style="display: inline"> Blurb:</h2> <%= @user.blurb %> </p>
</div>

</div>
<div id="index-options">
	<%= @user.first %> <%= @user.last %>'s <%= link_to "wanderboard:", user_path(@user.id), id: "options-links-wanderboard", style: "font-family: Lato-Regular" %>
	<div id="options-links">
		<%= link_to "Wishlists", trips_path(:user => @user) %>&nbsp-
		<%= link_to "Photos", photoalbums_path(:user => @user) %>&nbsp-
		<%= link_to "Ideas", ideas_path(:user => @user) %> <!--&nbsp-
		 <%= link_to "Flights" %>&nbsp-
		<%= link_to "Trails" %>&nbsp-
		<%= link_to "Roadtrips" %> -->
	</div>
</div>

<script type="text/javascript">
$(function(){
	$("#profile-info").hover(function() {
		if ("<%= @user == current_user %>" === "true"){
			$("#edit-link").show();
		}
	}, function() {
		$("#edit-link").hide();
	});
	// $("#profile-image-tag").colorbox({href: document.getElementById("profile-image-tag").src});
	if ("<%= flash[:update_error] %>" != ""){
		alert("<%= flash[:update_error] %>");
	}
})
	$(function() {
		if ("<%= @user == current_user %>" === "true"){
			$(".profile-image-container").mouseenter(function() {
				$(".glyphicon-camera").show('fade', 200);
				$(".profile-image-container").animate({
					"opacity": "0.7"
				}, 200)
			});
			$(".profile-image-container").mouseleave(function() {
				$(".glyphicon-camera").hide('fade', 200);
				$(".profile-image-container").animate({
					"opacity": "1.0"
				}, 200)
			});
		}
	})
</script>