<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
            <p> Edit Profile Picture for <%= user.first %></p>
            <p> <%= image_tag album.default.image_url(:thumb) %> </p>
            <%= form_for(:photos, url: photos_path, method: "post", :html => {:multipart => true}) do |f| %>
                <p>
                    <%= f.file_field :image, id: "file-button", style: "display: none"%>
                    <%= f.hidden_field :album, value: album.id %>
                    <%= f.hidden_field :case, value: "profile-picture" %>
                    <%= f.hidden_field :user_id, value: user.id %>
                    <label for="file-button" class="btn btn-default"> Choose New Picture </label>
                </p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                <%= f.submit "Save", id: "submit", class: "btn btn-default", style: "background-color: #ABEDEA" %>
            <% end %>
           
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    })
</script>