<div class="form-inline">
<div  style="width: 40%; position: absolute; top: 50%; margin-top: -27px; margin-left: 10px;">
<%= form_for(:f, url: place_index_path, method: 'get') do |f| %>


			<div class="form-group" style="float: left; width: 70%; ">
				<%= f.text_field :query, style: "display: inline-block", class: "form-control", placeholder: "Search again" %>
			</div>
			<% if temptrip != nil %>
				<% temptrip.each do |place| %>
					<%= f.hidden_field :store, :multiple => true, :value => place %>
				<% end %>
			<% end %>
			<% if tripid != nil %>
				<%= f.hidden_field :tripid, :value => tripid %>
			<% end %>
			<%= f.hidden_field :searchtype, value: "re" %>

			<div style="float: left; width: 20%; margin-right: 9%;">
				<%= f.button "Search", type: 'submit', class: "btn btn-default"%>
			</div>

<% end %>

</div>
</div>