<style type="text/css">
	.wishlist-container {
		height: 50px;
		line-height: 50px;
		width: 100%;
		background-color: white;
	}

	.wishlist-container a {
		font-family: "Lato-Light";
		font-size: 1.7em;
		margin-left: 10px;
		text-decoration: none;
		color: black;
	}

	.wishlist-container a:hover {
		color: white;
	}
</style>

<h3 class="text-center" style="margin-top: 10px;">Your currently saved wishlists:</h3>

<% wishlists.each do |wishlist| %>
	<div class="wishlist-container">
		<span style="margin-left: 10px; margin-bottom: 20px; font-size: 0.9em">&#9654;</span><%= link_to wishlist.name, wishlist %>
		<p style="display: inline; font-size: 0.6em"> <%= link_to "-edit-" %> </p>
		<p style="display: inline; font-size: 0.6em"> <%= link_to "-delete-"%> </p>
	</div>
<% end %>

<script type="text/javascript">
	$(".wishlist-container").mouseenter(function() {
		$(this).animate({"background-color": "#EBD3ED"}, 0, function() {});
	});
	$(".wishlist-container").mouseleave(function() {
		$(this).animate({"background-color": "#FFF"}, 0);
	});

</script>