<% provide(:title, "Search - #{@search}") %>



<!-- Rails always passes in empty array as nil, so have to set it here -->
<% if @temptrip == nil %>
	<% @temptrip = [] %>
<% end %>

<!-- This is where the map goes -->
<div id="width50-container">
	<div id="map" style='height: calc(100vh - 100px);'></div>
</div>

<div id='temp-trip'>

	<div id="index-options" style="position: absolute; z-index: 100; margin-bottom: 0px">
		<div style="left: 0px; width: 40%;"> <%= render partial: 'shared/search', locals: {temptrip: @temptrip, tripid: @tripid} %> </div>
		<p style="float: right; margin-right: 5%; display: inline-block">Filters</p>
	</div>

	<div style="position: relative">
		<div class="width25-container" style="margin-left: 50%; border-right: 1px solid gray; height: calc(100vh - 100px);"> 
		<!-- Code for the suggestions list -->
			<% if @places != nil %>
				<% @places.each do |place| %>
					<div class="suggestions">
					 	<h3> <%= link_to place.name.titleize, place, style: 'font-family: "Lato-Light"' %> </h3> 
						
						<% if place.type == "2"%>
							<%= link_to "Add to wishlist", place_index_path(:tripid => @tripid, :request => "add", :id => place.id, page: @page, :places => @places, :current => @current, :search => @search, :store =>@temptrip+[place.name]), method: "get", remote: true %>
						<% end %>
					</div>
				<% end %>
				
			<% end %>

		</div>


	<div class="width25-container" style="margin-left: 75%; border-left: 1px solid gray; height: calc(100vh - 180px);">
		<% @temptrip.each do |place|%>
			<div class='list' style="padding-left: 5px;min-height: 50px; color: black; margin-top: -20px"> 
				<h3> <%= link_to place.titleize, p = Place.find_by_name(place), style: 'font-family: "Lato-Light"'%> </h3>
				<%= link_to "Remove", place_index_path(:tripid => @tripid, :id => p.id, page: @page, :search => @search, :current=>@current, :store => @temptrip-[place], :places => @places, :request => "remove"), remote: true, method: "get" %> 
			</div>
		<% end %>		
	</div>
		<div style="height: 80px; width: 25%; right: 0px; position: fixed; top: calc(100vh - 80px); background-color: black; margin-bottom: 0px">
		<!-- THE FOLLOWING IS FOR BRAND NEW TRIPS, POST REQUESTS -->
		<% if !@tripid%>
			<%= form_for(:trips, url: trips_path, method: "post") do |f| %> 
				<div class="form-group" >
						<div class="full-width">
							<%= f.text_field :name, class: "form-control sharp-corners", placeholder: "Enter name for wishlist", style: "height: 40px" %>
						</div>

						<% if @temptrip != nil %>
							<% @temptrip.each do |place| %>
								<%= f.hidden_field :store, :multiple => true, :value => place %>
							<% end %>
						<% end %>

						<% if @places != nil %>
							<% @places.each do |place| %>
								<%= f.hidden_field :places, :multiple => true, :value => place.name %>
							<% end %>
						<% end %>

						<%= f.hidden_field :current, value: @current %>
						<%= f.hidden_field :page, value: @page %>

						<% if @temptrip.empty? %>
							<%= f.button "Save", class: "submit_button btn btn-default sharp-corners full-width", id:"empty",style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% elsif !current_user %>
							<%= f.button "Save", class: "submit_button btn btn-default sharp-corners full-width", id: "signin", style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% else %>
							<%= f.submit "Save", class: "submit_button btn btn-default sharp-corners full-width", style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% end %>
				</div>
			<% end %>
		<%else%>
		<!-- THE FOLLOWING IS ONLY FOR TRIPS BEING EDITED -->
			<%= form_for(Trip.find(@tripid), url: trip_path(@tripid), method: "patch") do |f|%> 
				<div class="form-group" >
						<div class="full-width">
							<%= f.text_field :name, class: "form-control sharp-corners", placeholder: "Enter name for wishlist", style: "height: 40px" %>
						</div>

						<% if @temptrip != nil %>
							<% @temptrip.each do |place| %>
								<%= f.hidden_field :store, :multiple => true, :value => place %>
							<% end %>
						<% end %>

						<% if @places != nil %>
							<% @places.each do |place| %>
								<%= f.hidden_field :places, :multiple => true, :value => place.name %>
							<% end %>
						<% end %>

						<%= f.hidden_field :tripid, value: @tripid %>
						<%= f.hidden_field :current, value: @current %>
						<%= f.hidden_field :page, value: @page %>

						<% if @temptrip.empty? %>
							<%= f.button "Save", class: "submit_button btn btn-default sharp-corners full-width", id:"empty",style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% elsif !current_user %>
							<%= f.button "Save", class: "submit_button btn btn-default sharp-corners full-width", id: "signin", style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% else %>
							<%= f.submit "Save", class: "submit_button btn btn-default sharp-corners full-width", style: "background-color: #89CCC9; margin-bottom: -18px; height: 40px"%>
						<% end %>
				</div>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">

	// $("#signin").colorbox({html: '<p> Please login first </p> <a href="/sessions/new">Sign in here </a>'});
	// $("#empty").colorbox({html: '<p> Your trip is empty! </p>'});
	$(function(){
		if ("<%= flash[:nameless] %>")
			alert("<%= flash[:nameless] %>");
	});
	$(function() {
		// $("nav").addClass("navbar-fixed");
		// $("nav").css("background-color", "rgba(255,255,255,1.0)");

		// $("#main-body").css("margin-top", "0px");
		$(".submit_button").hover(function() {
			$(".submit_button").animate({
				"background-color": "#BBFEFB",
				"text-decoration": "none"
			}, 0, function(){});}, function(){
				$(".submit_button").animate({
				"background-color": "#89CCC9"
			}, 0, function(){});
		});

		$(".suggestions").mouseenter(function (){
			var a = this.getElementsByTagName("a");
			$(this).animate({"background-color": "#CC898C"}, 100);
		});
		$(".suggestions").mouseleave(function (){
			var a = this.getElementsByTagName("a");
			$(this).animate({"background-color": "transparent"}, 100);
			$(a).animate({"color": "black"}, 100)
		});

		$(".list").mouseenter(function (){
			var a = this.getElementsByTagName("a");
			$(this).animate({"background-color": "#89CCC9"}, 100);
		});
		$(".list").mouseleave(function (){
			var a = this.getElementsByTagName("a");
			$(this).animate({"background-color": "transparent"}, 100);
			$(a).animate({"color": "black"}, 100)
		});
	});

	$(function(){
		handler = Gmaps.build('Google');
		handler.buildMap({ internal: {id: 'map' }}, function() {
			displayOnMap();
		});
	});

	function displayOnMap(){
	  	var marker = {
	    	lat: '<%= @current[0] %>',
	    	lng: '<%= @current[1] %>'
	  	};
		var marker_c = handler.addMarker(marker);
		marker_c.getServiceObject().setIcon("http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png");
	  	handler.map.centerOn(marker_c);

		var a = "<%= @places.to_json %>"
		var places = jQuery.parseJSON(a.replace(/\&quot;/g, '"'));
		var i=0;
		var markers_p =[];
		for (i=0; i<places.length; i++){
			markers_p.push({
				lat: places[i]['coords']['c1'][0],
				lng: places[i]['coords']['c1'][1],
				name: places[i]['name'],
				infowindow: places[i]['description']
			});
		}
		markers_p.push(marker);
		var markers = handler.addMarkers(markers_p);

		_.each(markers_p, function(json, index){
			json.marker = markers[index];
			});

		bindSuggestionsList(markers_p);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();	
		handler.removeMarker(markers[markers.length -1]);		
	};

	function bindLiToMarker($li, marker){
	  	$li.on({mouseenter: function(){
		    marker.getServiceObject().setIcon("http://perthgolfcourses.net/jscript/google_map_markers/green_Marker.png");
			handler.fitMapToBounds();},
		    mouseleave: function(){
		    marker.getServiceObject().setIcon("http://www.google.com/mapmaker/mapfiles/marker-k.png");}
  		})
	};

	function bindSuggestionsList(json_array){
		var listdiv = document.getElementsByClassName("suggestions");
		var index = 0;
	  	_.each(json_array, function(json){
		    var $li = $(listdiv[index]);
		    bindLiToMarker($li, json.marker);
		    index++;
	  	});
	};
	
</script>