<% if params[:request] == "remove"%>
	<% if params[:store] == nil %>
		<% @temptrip = [] %>
	<% else %>
		<% @temptrip = params[:store] %>
	<% end %>
<% elsif params[:request] == "ad" %>
	<% @temptrip = [] %>
<% end %>

<% if params[:search] != nil %>
	<% if params[:page] == nil %>
		<% @page = '1' %>
	<% else %>
		<% @page = params[:page] %>
	<% end %>

	<% @places = Place.search(params[:search])#.paginate(:page => @page, :per_page => 5) %>
<% end %>
$("#temp-trip").html("<%= escape_javascript(render 'place/wishlist_builder') %>");
// console.log('<% params[:request] %>');
// $("#temp-trip").html("<%= params[:page] %>");