<% provide(:title, "Search - #{@search}") %>

<div id="temp-trip">
	<div class="row col-md-11 col-sm-11 col-xs-11 center">
		<div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6">
			</br>
			<%= render partial: 'shared/search', locals: {temptrip: @temptrip, tripid: @tripid} %>
			<% if flash[:message] %>
				<p class="text-center alert alert-success"> 
					<%= flash[:message] %> 
					</br> 
					<%= flash[:message2] %> 
				</p>
			<% end %>
		</div>
	</div>

	<% if @temptrip == nil %>
		<% @temptrip = [] %>
	<% end %>

	<div class="row col-md-11 col-sm-11 col-xs-11 center">
		<div class="col-md-6 col-sm-6">
			<% if @places != nil %>
				<div class="">
					<% @places.each do |place| %>
						<div class="well">
						 	<h3> <%= link_to place.name.titleize, place %> </h3> 
							
							<% if place.type == "2"%>
								<%= link_to "Add to wishlist", place_index_path(:tripid => @tripid, :request => "add", :id => place.id, page: @page, :places => @places, :search => @search, :store => @temptrip), method: "get", remote: true %>
							<% end %>
						</div>
					<% end %>
				</div>
				<%= will_paginate @places, :params => {page: @page, query: @search, store: @temptrip, tripid: @tripid}, renderer: BootstrapPagination::Rails%>
			<% end %>
		</div>

		<div class="col-md-6 col-sm-6">
			<h4 class="text-center">Current wishlist</h4>
			<% if flash[:error] == "Oops, you forgot to name your wishlist!"%>
				<p class="text-center alert alert-danger"> <%= flash[:error] %> </p>
			<% end %>
			<% if flash[:error] == "Your wishlist appears to be empty"%>
				<p class="text-center alert alert-danger"> <%= flash[:error] %> </p>
			<% end %>

			<div id="temp-trip">
				<!-- renders partial via ajax here -->
				<ul class="well" style="list-style-type: none">
						<% @temptrip.each do |place|%>
						<li class="full-width well opaque"> <%= link_to place.titleize, p = Place.find_by_name(place)%> 
						<span class="float-right"><%= link_to "Remove", place_index_path(:tripid => @tripid, :id => p.id, page: @page, :search => @search, :store => @temptrip-[place], :places => @places, :request => "remove"), remote: true, method: "get" %> </span> 
						</li>
					<% end %>
				</ul>
			</div>

			<% if @tripid == nil %>
			<!-- Form for a completely new trip -->
				<%= form_for(:trips, url: trips_path, method: "post") do |f| %> 
					<div class="form-group">
						<div class="row">
							<div class="col-md-8 col-sm-8 col-xs-8">
							<%= f.text_field :name, class: "form-control", placeholder: "Enter name for wishlist" %>
							</div>

							<% if @temptrip != nil %>
								<% @temptrip.each do |place| %>
									<%= f.hidden_field :store, :multiple => true, :value => place %>
								<% end %>
							<% end %>

								<%= f.hidden_field :search, value: @search %>
								<%= f.hidden_field :tripid, value: @tripid %>
								<%= f.hidden_field :page, value: @page %>
						
							<div class="col-md-4 col-sm-4 col-xs-4">
								<%= f.submit "Save", class: "btn btn-primary col-md-12 col-sm-12 col-xs-12"%>
							</div>
						</div>
					</div>
				<% end %>

			<% else %>
			<!-- Form for a trip being edited -->
				<%= form_for(Trip.find(@tripid), url: trip_path(@tripid), method: "patch") do |f|%>
					<div class="form-group">
						<div class"row">
							<div class="col-md-8 col-sm-8 col-xs-8">
								<%= f.label "Wishlist name: " + Trip.find(@tripid).name %>
							</div>

							<% if @temptrip != nil %>
								<% @temptrip.each do |place| %>
									<%= f.hidden_field :store, :multiple => true, :value => place %>
								<% end %>
							<% else %>
								<%= f.hidden_field :store, :value => nil %>
							<% end %>

							<%= f.hidden_field :search, value: @search %>
							<%= f.hidden_field :tripid, value: @tripid %>
							<%= f.hidden_field :page, value: @page %>
					
							<div class="col-md-4 col-sm-4 col-xs-4">
								<%= f.submit "Save", class: "btn btn-primary col-md-12 col-sm-12 col-xs-12"%>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>