<% provide(:title, @place.name) %>
<style type="text/css">

	body, html {
		min-width: 980px;
		margin-top: -20px;
		background: none;
	}

	nav a {
		color: white;
	}


	.navbar-default {
		border-color: transparent;
	}

    #background {
		background: url("<%= asset_path("#{@place.image_url}") %>") fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 60%;
	}

	h1 {
		margin-top: 30px;
	}
</style>

<section id="background" >
	<% if @place.type == "0" %>
		<h1> <%= @data.city %>, <%=@region%> </h1>
	<% else %>
		<h1> <%= @place.name.titleize%> </h1>
	<%end%>
</section>

<section class="blackband full-width">
	<!-- Just a shadow strip -->
	<% if @place.type == "2" %>
		<%= link_to @place.city.first.name.titleize[0..-5], @place.city.first, style: "font-size: 2.3em; margin-left: 15%;" %><span style="font-size: 2.0em">/<%= @place.area.titleize %> </span>
		<% if current_user %>
			<%= link_to "New Idea   ", new_idea_path(:user => current_user.id, :place=>@place.id), {remote: :true, 'data-toggle' =>  "modal", 'data-target' => '#new-idea-modal', style: "float: right; display: inline; font-size: 2.3em; margin-right: 15%"}%>
		<% end %>
	<% end %>
</section>

<div id="place-content">

	<div id="description-container">
		<div id="description">
			<div class="glyphicon glyphicon-globe col-md-4 col-md-offset-4" style="margin-top: 15px; text-align: center; font-size: 2em"> </div>
			<div class="col-md-12" style="text-align: justify; margin-top: 15px;"> <%= @place.description %> </div>
		</div>		
	</div>

	<div id="weather-container">
		<div id="weather">
			<div style="height: 50px; line-height: 50px; text-align: center; font-size: 2em"> <span  class="glyphicon glyphicon-cloud"></span></div>
			<div class="col-md-8 col-md-offset-2" style="margin-top: 15px; text-align: center">
				<% if @place.type == "0" %>
					<% if @current_temp %>
						Right now: <%= @current_temp %>&deg;F </br>
					<% end %>
					<% if @forecast[0] %>
						Today's High: <%= @forecast[0]['high']['fahrenheit'] %>&deg;F </br>
						Today's Low: <%= @forecast[0]['low']['fahrenheit'] %>&deg;F </br>
						Tomorrow's High: <%= @forecast[1]['high']['fahrenheit'] %>&deg;F </br>
						Tomorrow's Low: <%= @forecast[1]['low']['fahrenheit'] %>&deg;F </br>
						<%= @forecast[2]['date']['weekday']%> High: <%= @forecast[2]['high']['fahrenheit'] %>&deg;F </br>
						<%= @forecast[2]['date']['weekday'] %> Low: <%= @forecast[2]['low']['fahrenheit'] %>&deg;F </br>
						<%= @forecast[3]['date']['weekday'] %> High: <%= @forecast[3]['high']['fahrenheit'] %>&deg;F </br>
						<%= @forecast[3]['date']['weekday'] %> Low: <%= @forecast[3]['low']['fahrenheit'] %>&deg;F </br>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<% if @place.type == "0"%>
			<div id="attractions-container">
				<div id="attractions">
					<% if @place.attractions[0] %>
						<div style="height: 65px; line-height: 65px; text-align: center; font-size: 2em"> <span  class="glyphicon glyphicon-heart"></span></div>
						<div id="sidebar-ul" >
							<% @place.attractions[0..10].each do |item|%>
								<%= cat_string = "" %>
								<% item.categories.each do |c| %>
									<% cat_string += c.cat.titleize + ", " %>
								<% end %>
								<div class="link-box"> 
									<%= link_to item do %>
										<span style="font-family: 'Lato-Heavy'"> <%= item.name.titleize %> </span> </br>
										Tags: <%= cat_string[0..-3] %>
									<% end %> 
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>

		<div id="place-map-container">
			<div id="map"> </div>
		</div>
		

		<div class="feed-row" style="display: none; text-align: center" id="city-ideas">
			<h1> Ideas in <%= @place.name.titleize[0..-5] %> </h1>
			<% if @feed_items %>
				<% @feed_items.each do |idea| %>
					<% place = Place.find(idea.place_to_idea_relationships.first.place_id) %>
					<% if idea.photos.first %>
						<% bgimage = idea.photos.first.image_url %>
					<% else %>
						<% bgimage = place.image_url %>
					<% end %>
					<div>
						<div class="feed-div-1" style="background: url('<%= asset_path(bgimage) %>'); background-size: cover; opacity: .5">
						</div>
						<div class="feed-div-3" style="font-size: 4em; color: white; -webkit-text-stroke: 1px black;">
							"<%= idea.idea %>"
						</div>
						<div class="feed-div-2">
							<span style="position: absolute; bottom: 10px; left: 20px; font-size: 1.3em"> <%= place.name.titleize %> </span>
						</div>
						<%= link_to "", idea_path(:id=>idea.id, :place_id => place.id), method: "get", class: "feed-link", remote: :true, 'data-toggle'=>"modal", 'data-target'=>'#show-idea-modal' %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% elsif @place.type == "2" %>
		<div id="place-map-container-type2">
			<div id="map"> </div>
		</div>
		<h1 style="text-align: center">Ideas</h1>
		<div id="place-ideas">
			<% @ideas.each do |idea| %>
				<div>
					<% if idea.photos.first %>
						<div style="background: url('<%= idea.photos.first.image_url %>'); background-size: cover"></div>
					<% else %>
						<div style="background: url('<%=asset_path(@place.image_url) %>'); background-size: cover"></div>
					<% end %>
					<%= link_to idea.idea, idea_path(:id=>idea.id, :place_id => @place.id), method: "get", class: "idea-link", remote: :true, 'data-toggle'=>"modal", 'data-target'=>'#show-idea-modal' %>
				</div>	
			<% end %>
		</div>
	<% end %>

	<!-- MODALS -->
	<div id="show-idea-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<div id="new-idea-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


</div>




<script type="text/javascript">


	$(function() {
		$("nav").addClass("navbar-fixed-top");
		$("nav").css("background-color", "rgba(255,255,255,0.0)");
		// $("a").css("color", "white");
		// $("#main-body").replaceWith($("#about"));
		$("#main-body").css("margin-top", "0px");

	});

	$(function() {
		$(".feed-row a").hover(function() {
			$(this).parent().find(".feed-div-2").show('fade', 120);
		}, function(){
			$(this).parent().find(".feed-div-2").hide('fade', 120);
		})
	})

	// map displaying code
		$(function(){
			handler = Gmaps.build('Google');
			handler.buildMap({ internal: {id: 'map' }, provider: {minZoom: 10, maxZoom: 17}}, function() {
				displayOnMap();
			});
		});
	

	function displayOnMap(){
	  	var marker = handler.addMarker({
	    	lat: '<%= @place.coords["c1"][0] %>',
	    	lng: '<%= @place.coords["c1"][1] %>'
	  	});
	  	handler.map.centerOn(marker);

	  	if ('<%= @place.type %>' == '0'){
			handler.removeMarker(marker);
			var a = "<%= @attractions.to_json %>"
			var attraction = jQuery.parseJSON(a.replace(/\&quot;/g, '"'));
			var i=0;
			var markers_a =[];
			for (i=0; i<attraction.length; i++){
				markers_a.push({
					lat: attraction[i]['coords']['c1'][0],
					lng: attraction[i]['coords']['c1'][1],
					name: attraction[i]['name'],
					infowindow: attraction[i]['description']
				});
			}
			var markers = handler.addMarkers(markers_a);

			_.each(markers_a, function(json, index){
    			json.marker = markers[index];
  			});

			bindSidebar(markers_a);
			handler.bounds.extendWith(markers);
  			handler.fitMapToBounds();			
		}
		else{
			handler.bounds.extendWith(marker);
	  		handler.fitMapToBounds();
		}
	};

	function bindLiToMarker($li, marker){
	  	$li.on({mouseenter: function(){
		    marker.getServiceObject().setIcon("http://perthgolfcourses.net/jscript/google_map_markers/green_Marker.png");
			handler.fitMapToBounds();},
		    mouseleave: function(){
		    marker.getServiceObject().setIcon("http://www.google.com/mapmaker/mapfiles/marker-k.png");}
  		})
	};

	function bindSidebar(json_array){
		var nums = document.getElementById("sidebar-ul");
		var listItem = nums.getElementsByTagName("div");
		var index = 0;
	  	_.each(json_array, function(json){
		    var $li = $(listItem[index]);
		    bindLiToMarker($li, json.marker);
		    index++;
	  	});
	};
	// end map displaying code

	$(document).ready(function () {
		var ROOT = (function () {
		    var html = document.documentElement;
		    var htmlScrollTop = html.scrollTop++;
		    var root = html.scrollTop == htmlScrollTop + 1 ? html : document.body;
		    html.scrollTop = htmlScrollTop;
		    return root;
		})();

  		// may be recalculated on resize
	  	var limit = (document.body.scrollHeight - $(window).height()) * 0.45;
	  	var visible = false;
	  	var last = +new Date;
	  	$(window).scroll(function () {
	    	if (+new Date - last > 30) { // more than 30 ms elapsed
	      		if (visible && ROOT.scrollTop < limit) {
	        		setTimeout(function () { $("nav").animate({
							"background-color": "rgba(255,255,255,0.0)"
						}, 200, function(){});
						$("nav a").animate({
							color: "white"
						}, 200, function(){});
						$("nav").css(
							"border-bottom", "none"
						); visible = false; }, 1);
	      		} else if (!visible && ROOT.scrollTop > limit) {
	        		setTimeout(function () { $("nav").animate({
							"background-color": "#D3EDEB"
						}, 200, function(){});
						$("nav a").animate({
							color: "#313838"
						}, 200, function(){})
						$("nav").css(
							"border-bottom", "1px solid #DCE8E7"
						); visible = true; }, 1);
	      		}
	      		last = +new Date;
	    	}
	  	});


		var limit2 = (document.body.scrollHeight - $(window).height()) * 0.15;
	  	var last2 = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limit6) {
	  			$("#description").css("display", "block");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - last2 > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limit2) {
	        		setTimeout(function () { $("#description").show(
										"fade", {direction: "down", duration: 400});}, 1);
	      		}
	      		last2 = +new Date;
	    	}
	  	});

	  	var limit3 = (document.body.scrollHeight - $(window).height()) * 0.20;
	  	var last3 = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limit6) {
	  			$("#weather").css("display", "block");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - last3 > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limit3) {
	        		setTimeout(function () { $("#weather").show(
										"fade", {direction: "left", duration: 400});}, 1);
	      		}
	      		last3 = +new Date;
	    	}
	  	});

	  	var limit4;
	  	limit4 = (document.body.scrollHeight - $(window).height()) * 0.35;
	  	var last4 = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limit4) {
	  			$("#map").css("opacity", "1.0");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - last4 > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limit4) {
	        		setTimeout(function () { $("#map").animate({
	        									opacity: 1.0
	        		}, 500, function() 				{});
	        							}, 1);
	      		}
	      		last4 = +new Date;
	    	}
	  	});

	  	var limitIdeas = (document.body.scrollHeight - $(window).height()) * 0.20;
	  	var lastIdea = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limitIdeas) {
	  			$("#place-ideas").css("display", "block");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - lastIdea > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limitIdeas) {
	        		setTimeout(function () { $("#place-ideas").show(
										"fade", {direction: "right", duration: 400});}, 1);
	      		}
	      		lastIdea = +new Date;
	    	}
	  	});

	  	var limit5 = (document.body.scrollHeight - $(window).height()) * 0.40;
	  	var last5 = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limit5) {
	  			$("#attractions").css("display", "block");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - last5 > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limit5) {
	        		setTimeout(function () { $("#attractions").show(
										"fade", {direction: "right", duration: 400});}, 1);
	      		}
	      		last5 = +new Date;
	    	}
	  	});

	  	var limit6;
	  	limit6 = (document.body.scrollHeight - $(window).height()) * 0.70;
	  	var last6 = +new Date;
	  	$(window).load(function() {
	  		if (ROOT.scrollTop > limit6) {
	  			$("#city-ideas").css("display", "block");
	  		}
	  	})
	  	$(window).scroll(function () {
	    	if (+new Date - last6 > 30) { // more than 30 ms elapsed
	      		if (ROOT.scrollTop > limit6) {
	        		setTimeout(function () { $("#city-ideas").show(
										"fade", {direction: "down", duration: 400});}, 1);
	      		}
	      		last6 = +new Date;
	    	}
	  	});

	});

</script>

<script type="text/javascript" src="<%= asset_path("skrollr.js") %>"></script>
<script type="text/javascript">
    skrollr.init();
</script>
