<div id="form" style="position: relative;">
	<div id="form2" >
		<%= form_for @photo, remote: true, url: photo_path(id: @photo.id, user: @user.id, album: @album.id), method: "patch" do |photo| %>
			<div class="form-group"> 
				<%= photo.text_area :description, value: @photo.description, placeholder: "Enter description", class: "form-control", style: "min-height: 100px;" %>
			</div>

			<%= photo.submit "Save", id: "submit", class: "btn btn-default", style: "text-align: center; background-color: #ABEDEA" %>

			<button id="close-button" type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #EDABAE">Close</button>

	        <div style="float: right; display: inline-block; cursor: pointer" id="delete-trigger">
				<span class="red-link" style="font-size: 1.5em;margin-top: 0px;" >Delete</span>
			</div>
		<% end %>

		
	</div>

	<% if @user == current_user %>
	    <div id="delete-confirmation" style="display: none; opacity: 0.0; text-align: center">
	        <h3> Are you sure you want to delete this photo? </h3>
	        <% if @album.name == "Idea Photos" %>
        		<div class="red-link"> Since this image is used in one of your ideas, the image will be removed from that idea! </div>
        	<% end %>
	        <%= link_to photo_path(:id => @photo.id, :user => current_user.id, :album => @album.id), method: "delete", style: "display: inline-block; margin-right: 30px;", class: "red-link" do %>
	            <span style="font-size: 1.7em"> Delete forever </span>
	        <% end %> 
	        
	        <div style="display: inline-block; cursor: pointer" id="delete-exit">
				<span class="green-link" style="font-size: 1.7em">Maybe not</span>
			</div>
	    </div>
	<% end %>
</div>





<script type="text/javascript">


	$("body").on('click', "#delete-trigger", function() {
        $("#form2").hide();
        $("#form2").animate({"opacity": "0"}, 400);
        // $("#error_message").hide(, { direction: "up);
        $("#delete-confirmation").show();
        $("#delete-confirmation").animate({"opacity": "1"}, 400);
    });

    $("body").on('click', "#delete-exit", function() {
        $("#delete-confirmation").hide();
        $("#delete-confirmation").animate({"opacity": "0"}, 400);
        // $("#error_message").hide(, { direction: "up);
        $("#form2").show();
        $("#form2").animate({"opacity": "1"}, 400);
    });


	$("#submit").hover(function(){
        $(this).css("background-color", "#CDFAF8");
    }, function(){
        $(this).css("background-color", "#ABEDEA");
    });
    
    $("#close-button").hover(function(){
        $(this).css("background-color", "#FACDCF");
    }, function(){
        $(this).css("background-color", "#EDABAE");
    });
</script>