<div class="modal-dialog" style="max-width: 85%;">
    <div class="modal-content">     
        <div class="modal-body" style="min-height: 450px; position: relative; text-align: center">
            <div style="margin-bottom: 0px;">
                <% if @prev and @iteration > 0 %>
                        <%= link_to photo_path(id: @iteration-1, :album => @album, :user => @user.id), remote: :true, id: "prev" do %> 
                            <h3 style="display: inline; margin-right: 30px;"> Previous </h3>
                        <% end %>
                <% end %>

                <% if @next %>
                    <%= link_to photo_path(id: @iteration+1, :album => @album, :user => @user.id), remote: :true, id: "next" do %>
                        <h3 style="display: inline;"> Next </h3>
                    <% end %>
                <% end %>
            </div>

            </br>

            <% if @photo %>
                <%= image_tag @photo.image_url(), style: "max-height: calc(70vh); max-width: calc(60vh); clear: both" if @photo.id? %>
                <div id="description" style="margin-top: 10px; text-align: justify"><span style="font-size: 1.3em;"><%= @photo.description %> &nbsp&nbsp&nbsp <span id="edit-link"> <%= link_to "Edit", edit_form_path(id: @photo.id, album: @album.id, user: @user.id), method: "get", remote: :true if @user == current_user %> </span></div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    // THIS SLOWS DOWN A LOT
    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
           $("#prev")[0].click();
        }
        if (e.keyCode == 39) { 
           $('#next')[0].click();
        }
    });

    $("#edit-link").hover(function() {
        $(this).css("color", "#1C4A46");
    }, function() {
        $(this).css("color", "#399992");
    })
</script>