@import "bootstrap";

/* Universal */

@font-face {
    font-family: 'Lato-Regular';
    src: url(<%= asset_path('Lato2OFLWeb/Lato/Lato-Regular.ttf') %>);
    font-weight: 9000;
    font-size: 200%;
}

@font-face {
    font-family: 'Lato-Light';
    src: url(<%= asset_path('Lato2OFLWeb/Lato/Lato-Light.ttf') %>);
    font-weight: 9000;
    font-size: 200%;
}

@font-face {
    font-family: 'Lato-Heavy';
    src: url(<%= asset_path('Lato2OFLWeb/Lato/Lato-Heavy.ttf') %>);
    font-weight: 9000;
    font-size: 200%;
}

h1,h2,h3,h4,p,a,div {
	font-family: 'Lato-Regular';
}

h1,h2,h3 {
	font-family: 'Lato-Light';
}


textarea{resize:none}

a {
	color: #399992;
}
a:hover {
	text-decoration: none;
	color: #1C4A46;
}

#edit-link {
	cursor: pointer;
	color: #399992;
	margin-right: 20px;
}

#edit-link h2 {
	color: #399992;
}
#edit-link h2:hover {
	text-decoration: none;
	color: #1C4A46;
}

nav a {
	color: #399992;
}
nav a:hover {
	text-decoration: none;
	color: #1C4A46;
}

.green-link {
	color: #399992;
}
.green-link:hover {
	color: #1C4A46;
}

.red-link {
	color: #BD535B;
}

.red-link:hover {
	color: #7D2A32;
}

.pag {
	list-style: none;
	float: left;
}

.btn-primary {
	background-color: #ABEDEA;
	border-color: white;
}

.btn-primary:hover {
	background-color: #CDFAF8;
	border-color: white;
}

.inline {
	display: inline;
}

.black {
	font-family: 'Cabin';
	text-decoration: none;
	color: black;
}

.btn-default {
	border-radius: 0px;
}

.full-width {
	min-width: 100%;
}

.full-height {
	min-height: 100%;
}

nav a {
	color: white;
}

.navbar-collapse.collapse {
display: inline-block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-left {
float: left!important;
}

.navbar-nav.navbar-left:last-child {
margin-left: -15px !important;
}

.opaque {
	background-color: rgba(255,255,255,1);
}

.center {
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
	text-align: center
}

.fill {
	height: 80%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center-middle {
	margin-top: 100px;
}

.sharp-corners {
	border-radius: 0;
}

.half-opacity {
	background-color: rgba(255,255,255,0.75);
}

.transparent {
	background-color: rgba(255,255,255,0.0);
}

.move-right{
	margin-left: 10%;
}

.move-center{
	margin-left: 50%;
}

.blackband {
	height: 150px;
	background-color: rgba(233,245,244,.7);
	margin-top: -150px;
	line-height: 150px;
}

#place-content {
	min-height: calc(100vh - 620px);
	width: 100%;
	background-color: rgba(233,245,244,1);
	padding-left: 10.5%;
	padding-right: 10.5%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
}

#background {
	height: 550px;
	width: 100%;
	margin: 0;
	background-color: black;
	background-size: cover;
	h1 {
		font-size: 5em;
		padding-top: 65px;
		text-align: center;
		color: white;
		text-shadow: -1px black;
	}
}

#sidebar-ul {
	color: black;
	.link-box {
		width: 100%;
		// height: 55px;
		// line-height: 55px;
		a {
			display: inline-block;
			// height: 55px;
			width: 100%;
			text-decoration: none;
			padding-left: 10px;
			transition: all .25s ease;
		}
	}
}

#sidebar-ul a:hover{
	background-color: #399992;
	color: white;
}

#description-container {
	padding: 20px 10px 10px 20px;
	width: 70%;
	float: left;
	#description {
		color: #313838;
		background-color: #FFF;
		height: 300px;
		font-size: 1.2em;
		display: none;
	}
}

#weather-container {
	padding: 20px 20px 10px 10px;
	width: 30%;
	float: right;
	#weather {
		color: #313838;
		background-color: #FFF;
		height: 300px;
		text-align: justify;
		font-size: 1em;
		overflow: auto;
		display: none;
	}
}

#attractions-container {
	padding: 10px 20px 10px 10px;
	float: right;
	width: 60%;
	#attractions {
		color: #313838;
		background-color: #FFF;
		height: calc(100vh - 100px);
		overflow-y: auto;
		font-size: 1.2em;
		display: none;
	}
}

#place-ideas {
	display: none;
	margin-bottom: 50px;
}

#place-ideas div:nth-child(2n + 1){
	padding: 10px 10px 10px 20px;
	clear: both;
	width: 50%;
	height: 300px;
	background-color: clear;
	float: left;
	position: relative;
	a{
		position: absolute;
		padding: 5px;
		display: block;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		background-color: white;
		border-radius: 9px;
		font-size: 1.6em;
		text-align: justify;
		// font-family: 'Lato-Light';
		opacity: .8
	}
	div {
		position: absolute;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		border-radius: 9px;
	}
}

#place-ideas div:nth-child(2n + 2){
	padding: 10px 20px 10px 10px;
	width: 50%;
	height: 300px;
	background-color: clear;
	float: left;
	position: relative;
	a{
		position: absolute;
		padding: 5px;
		display: block;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		background-color: white;
		border-radius: 9px;
		font-size: 1.6em;
		text-align: justify;
		// font-family: 'Lato-Light';
		opacity: .8;
	}
	div {
		position: absolute;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		border-radius: 9px;
	}
}

#place-map-container {
	width: 40%;
	margin-top: -10px;
	float: left;
	padding: 20px 10px 10px 20px;
	#map {
		opacity: 0.0;
		width: 100%;
		height: calc(100vh - 100px);
	}
}

#place-map-container-type2 {
	width: 100%;
	margin-top: -10px;
	float: left;
	padding: 20px 20px 10px 20px;
	#map {
		opacity: 0.0;
		width: 100%;
		height: calc(40vh);
	}
}

#place-photos-container {
	width: 100%;
	padding: 10px 20px 20px 20px;
	clear: both;
	#photos {
		font-size: 1.2em;
		display: none
	}
}


#photos {
	color: #313838;
	background-color: #FFF;
	height: 400px;
}

.home-band {
	background-color: rgba(0,0,0,.7);
	min-height: 350px;
	padding-top: 40px;
	width: 100%;
}

#index-options {
	background-color: rgba(255,255,255,.6);
	height: 50px;
	line-height: 50px;
	width: 100%;
	position: relative;
}

#width50-container {
	height: 100%;
	width: 50%;
	position: static;
	float: left;
	margin-top: 50px;
}

.width25-container {
	height: 100%;
	width: 25%;
	position: absolute;
	margin-top: 50px;
	overflow-y: auto;
	background-color: rgba(255,255,255,0.9);
}

.suggestions {
	padding-left: 5px; 
	margin: -20px 0px 0px 0px; 
	min-height: 50px;
}


.suggestions a{
	color: black;
	text-decoration: none;
}

.list a{
	color: black;
	text-decoration: none;
}

#header {}

.btn-light {
	background-color: #FFFFD4;
	color: black;
}

.tight {
	padding: 0;
}

input {
	width: 100px;
}


/* Background image */
 html, body {
	margin: 0;
	min-height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FFF;
	background: url("<%= asset_path('borealis.jpg') %>") no-repeat center center fixed;
	background-size: 100% 100%;
	font-family: 'Cabin';
}


#wrapper {
	min-width: 980px;
}


/* User show page */
	#options-links {
		display: inline-block;
	}

	#profile-image-tag {
		border-radius: 50%;
		width: 220px;
		height: 220px;
		overflow: auto;
	}

	.profile-image-container {
		height: 220px;
		width: 30%;
		position: absolute;
		top: 50%;
		margin-top: -110px;
		background-color: clear;
		cursor: pointer;
	}

	.transport-label {
		line-height: 50px;
		height: 50px;
		background-color: rgba(255,255,255,0.6);
		display: block;
		font-size: 1.4em;
		font-family: 'Lato-Light';
	}

	#left-hand-user-panel {
		height: calc(100vh - 100px);
		float: left;
		width: 25%;
		background-color: rgba(255,255,255,.7);
		overflow: auto;
	}

	#user-main-body {
		height: calc(100vh - 50px);
		width: 100%;
		background-color: rgba(233,245,244,1);
		padding-left: 15%;
		padding-right: 15%;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0 auto;

	}

	.wanderbox {
		padding: 15px 15px 15px 15px;
	}

	.user-row div:nth-child(1){
		padding: 7.5px 7.5px 7.5px 15px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('wishlist.jpg') %>") no-repeat center center; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}

	.user-row div:nth-child(2){
		padding: 7.5px 7.5px 7.5px 7.5px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('waterfall.jpg') %>") no-repeat top right; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}

	.user-row div:nth-child(3){
		padding: 7.5px 15px 7.5px 7.5px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('ideas.jpg') %>") no-repeat center center; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}
	.user-row-2 div:nth-child(1){
		padding: 7.5px 7.5px 7.5px 15px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('flights.jpg') %>") no-repeat center center; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}

	.user-row-2 div:nth-child(2){
		padding: 7.5px 7.5px 7.5px 7.5px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('trails.jpg') %>") no-repeat bottom center; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}

	.user-row-2 div:nth-child(3){
		padding: 7.5px 15px 7.5px 7.5px;
		float: left;
		width: 33.333%;
		height: 200px;
		a{	
			width: 100%;
			height: 100%;
			display: block;
			text-align: center; 
			position: relative;
			background: url("<%= asset_path('roadtrips.jpg') %>") no-repeat bottom center; 
			h1 {
				position: absolute;
				top: 50%;
				margin-top: -12pt;
				left: 0;
				right: 0;
				font-size: 24pt;
				color: white;
			}
		}
	}



	.feed-row {
		display: block
	}

	.feed-row div:nth-child(1n){
		padding: 7.5px 15px 7.5px 15px;
		float: left;
		width: 100%;
		height: 300px;
		position: relative;
		text-align: center;
		overflow: hidden;
		.feed-link {
			position: absolute;
			display: block;
			height: calc(100% - 7.5px);
			width: calc(100% - 15px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			// background-color: rgba(0,0,0,0.6);
			color: white;
		}
		.feed-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 15px);
		}
		.feed-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 15px);
			color: white;
			font-family: 'Lato-Regular';
		}
		.feed-div-2{
			padding: 7px;
			position: absolute;
			margin-top: 150px;
			height: calc(150px - 7.5px);
			width: calc(100% - 15px);
			color: white;
			text-align: left;
			font-family: 'Lato-Regular';
			background: linear-gradient(rgba(0,0,0,.0), black);
			display: none;
		}
	}

	.wander-methods {
		position: absolute;
		background-color: clear;
		width: 50%;
		left: 250px; 
		top: 50%;
		margin-top: -60px;
	}
	.wander-methods div:nth-child(1){
		float: left;
		padding: 6px 3px 0px 6px;
		width: 30%;
	}
	.wander-methods div:nth-child(2){
		float: left;
		padding: 6px 6px 3px 3px;
		width: 30%;
	}
	.wander-methods div:nth-child(3){
		float: left;
		clear: both;
		padding: 3px 3px 6px 6px;
		margin-top: -10px;
		width: 30%;
	}
	.wander-methods div:nth-child(4){
		float: left;
		padding: 3px 6px 6px 3px;
		margin-top: -10px;
		width: 30%;
	}

	// ------------------------- WISHLIST INDEX PAGE ------------------------//


	#wishlist-list div:nth-child(3n + 1){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 7.5px 7.5px 15px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		clear: both;
		.wishlist-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.wishlist-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}

		.wishlist-link:hover {
			text-decoration: none;
		}
	}

	#wishlist-list div:nth-child(3n + 2){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 7.5px 7.5px 7.5px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		.wishlist-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 15px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.wishlist-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 15px);
			color: white;
		}

		.wishlist-link:hover {
			text-decoration: none;
		}
	}

	#wishlist-list div:nth-child(3n + 3){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 15px 7.5px 7.5px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		.wishlist-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.wishlist-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}

		.wishlist-link:hover {
			text-decoration: none;
		}
	}

	#album-list div:nth-child(3n + 1){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 7.5px 7.5px 15px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		clear: both;
		.album-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.album-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}

		.album-link:hover {
			text-decoration: none;
		}
	}

	#album-list div:nth-child(3n + 2){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 7.5px 7.5px 7.5px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		.album-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 15px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.album-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 15px);
			color: white;
		}

		.album-link:hover {
			text-decoration: none;
		}
	}

	#album-list div:nth-child(3n + 3){
		// padding: 20px 10px 10px 20px; 
		padding: 7.5px 15px 7.5px 7.5px;
		width: 33.33333%;
		height: 200px;
		position: relative;
		float: left;
		.album-link{
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			color: black;
			background-color: rgba(255,255,255,.6);
		}
		.album-div {
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}

		.album-link:hover {
			text-decoration: none;
		}
	}

	// Showing a wishlist, all of its places 
	#list-places {
		margin-top: 15px;
	}
	#list-places div:nth-child(2n + 1){
		padding: 7.5px 7.5px 7.5px 15px;
		width: 50%;
		height: 250px; 
		position: relative;
		float: left;
		clear: both;
		.place-link {
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
			color: black;
		}
		.place-div{
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}
	}

	#list-places div:nth-child(2n + 2){
		padding: 7.5px 15px 7.5px 7.5px;
		width: 50%;
		height: 250px; 
		position: relative;
		float: left;
		.place-link {
			position: absolute;
			display: block;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
			color: black;
		}
		.place-div{
			position: absolute;
			height: calc(100% - 15px);
			width: calc(100% - 22.5px);
			color: white;
		}
	}

	// ****************************** IDEAS **********************************

	#ideas-index div:nth-child(4n + 1){
		padding: 7.5px 7.5px 7.5px 0px;
		width: 25%;
		height: 250px; 
		position: relative;
		float: left;
		clear: both;
		text-align: center;
		overflow: hidden;
		.idea-link {
			position: absolute;
			display: block;
			height: calc(100% - 7.5px);
			width: calc(100% - 0px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			// background-color: rgba(0,0,0,0.6);
			color: black;
		}
		.idea-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 0px);
			color: white;
			font-size: 2.2em;
			font-family: 'Lato-Regular';
		}
		.idea-div-2{
			padding: 7px;
			position: absolute;
			margin-top: 75px;
			height: calc(70% - 7.5px);
			width: calc(100% - 0px);
			color: white;
			text-align: left;
			font-family: 'Lato-Regular';
			background-color: rgba(0,0,0,.7);
			opacity: .35;
		}
	}

	#ideas-index div:nth-child(4n + 2){
		padding: 7.5px 7.5px 7.5px 7.5px;
		width: 25%;
		height: 250px; 
		position: relative;
		float: left;
		text-align: center;
		overflow: hidden;
		.idea-link {
			position: absolute;
			display: block;
			height: calc(100% - 7.5px);
			width: calc(100% - 7.5px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			// background-color: rgba(0,0,0,0.6);
			color: black;
		}
		.idea-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 7.5px);
			color: white;
			font-size: 2.2em;
			font-family: 'Lato-Regular';
		}
		.idea-div-2{
			padding: 7px;
			position: absolute;
			margin-top: 75px;
			height: calc(70% - 7.5px);
			width: calc(100% - 7.5px);
			color: white;
			text-align: left;
			font-family: 'Lato-Regular';
			background-color: rgba(0,0,0,.7);
			opacity: .35;
		}
	}

	#ideas-index div:nth-child(4n + 3){
		padding: 7.5px 7.5px 7.5px 7.5px;
		width: 25%;
		height: 250px; 
		position: relative;
		float: left;
		text-align: center;
		overflow: hidden;
		.idea-link {
			position: absolute;
			display: block;
			height: calc(100% - 7.5px);
			width: calc(100% - 7.5px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			// background-color: rgba(0,0,0,0.6);
			color: black;
		}
		.idea-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 7.5px);
			color: white;
			font-size: 2.2em;
			font-family: 'Lato-Regular';
		}
		.idea-div-2{
			padding: 7px;
			position: absolute;
			margin-top: 75px;
			height: calc(70% - 7.5px);
			width: calc(100% - 7.5px);
			color: white;
			text-align: left;
			font-family: 'Lato-Regular';
			background-color: rgba(0,0,0,.7);
			opacity: .35;
		}
	}

	#ideas-index div:nth-child(4n + 4){
		padding: 7.5px 0px 7.5px 7.5px;
		width: 25%;
		height: 250px; 
		position: relative;
		float: left;
		text-align: center;
		overflow: hidden;
		.idea-link {
			position: absolute;
			display: block;
			height: calc(100% - 7.5px);
			width: calc(100% - 15px);
			padding: 15px 15px 15px 15px;
			text-align: center;
			// background-color: rgba(0,0,0,0.6);
			color: black;
		}
		.idea-div-1{
			position: absolute;
			height: calc(100% - 7.5px);
			width: calc(100% - 15px);
			color: white;
			font-size: 2.2em;
			font-family: 'Lato-Regular';
		}
		.idea-div-2{
			padding: 7px;
			position: absolute;
			margin-top: 75px;
			height: calc(70% - 7.5px);
			width: calc(100% - 15px);
			color: white;
			text-align: left;
			font-family: 'Lato-Regular';
			background-color: rgba(0,0,0,.7);
			opacity: .35;
		}
	}

// ############### PHOTOS ######################

#photo-index div:nth-child(3n + 1){
	padding: 5px 5px 5px 10px;
	float: left;
	clear: both;
	width: 33%;
	height: 300px;
	position: relative;
	img {
		height: 100%;
		width: 100%;
	}
	div {
		bottom: 5px;
		left: 10px;
		position: absolute;
		height: 200px;
		width: calc(100% - 15px);
		background: linear-gradient(rgba(0,0,0,0), black);
		display: none;
	}
}

#photo-index div:nth-child(3n + 2){
	padding: 5px 5px 5px 5px;
	float: left;
	width: 33%;
	height: 300px;
	position: relative;
	img {
		height: 100%;
		width: 100%;
	}
	div {
		bottom: 5px;
		left: 5px;
		position: absolute;
		height: 200px;
		width: calc(100% - 10px);
		background: linear-gradient(rgba(0,0,0,0), black);
		display: none;
	}
}

#photo-index div:nth-child(3n + 3){
	padding: 5px 10px 5px 5px;
	float: left;
	width: 33%;
	height: 300px;
	position: relative;
	img {
		height: 100%;
		width: 100%;
	}
	div {
		bottom: 5px;
		left: 5px;
		position: absolute;
		height: 200px;
		width: calc(100% - 15px);
		background: linear-gradient(rgba(0,0,0,0), black);
		display: none;
	}
}
	